MYSQL_ROOT_PASSWORD=    # MySQL root 계정 비밀번호
MYSQL_DATABASE=         # 생성할 DB 이름
MYSQL_USER=             # 앱에서 사용할 DB 계정명
MYSQL_PASSWORD=         # 앱에서 사용할 DB 비밀번호
DB_DATABASE=            # Spring Boot DB 이름
DB_USERNAME=            # Spring Boot DB 접속 계정
DB_PASSWORD=            # Spring Boot DB 접속 비밀번호
REDIS_HOST=             # Redis 호스트
REDIS_PORT=             # Redis 포트